body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
background-color: black;

}
canvas {

  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
  .title-sign >h1 {
	text-shadow: 0 0 10px white, 0 0 60px #ff0084, 0 0 30px #ff0084;
	text-align: center;
	color: white;
	font-size: 44px;
	animation-delay: 1s;
	animation: blink 6s alternate-reverse infinite;
	margin-top: 60px;
}

.button {
	background-color: #0b3578;
	width: auto;
	height: 40px;
}

.button >h1 {
color: white;
font-size: 15px;

}

.title-sign {
  position: absolute;
  top: 400px;
	width: 180px;
	height: 180px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 50px #ff0084, inset 0 0 50px #ff0084;
	animation: blink 6s alternate infinite;
	animation-delay: 3s;
}

@keyframes blink {
	0%, 2%, 4%, 6%, 30%, 32%, 75%, 77%, 100% {opacity: 1}
		3%, 5%, 31%, 76% {opacity: 0.7}
}

.example_a {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.example_a:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
