body {
  font-family: none;
}

.navbar {
  position: fixed;
  width: 100%;
  letter-spacing: .5px;
}
.nav-link,
.nav-link:hover {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.page-header {
  background: url("assets/background.jpg");
  height: 100vh;
}
