@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  letter-spacing: .5px;
}
.logo,
.logo:hover {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.nav-link,
.nav-link:hover {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.page-header {
  background: url("assets/background.jpg");
  height: 100vh;
  color: #fff;
}
.page-header .container.info {
  text-align: center;
  padding-top: 45vh;
}
.header-info {
  width: 100%;
}
.header-info h2 {
  font-weight: 200;
  font-size: 40px;
}
.header-info h1 {
  font-size: 70px;
}
.header-info h1 .cd-words-wrapper {
  font-weight: 900;
}




/* Buttons */
.social-button {
  text-decoration: none;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0px 5px 15px -5px #00000070;
  color: #305fe3;
  overflow: hidden;
  position: relative;
}
.social-button > i {
  line-height: 70px;
  font-size: 26px;
  transition: 0.2s linear;
}
.social-button:hover > i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.social-button::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #305fe3;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.social-button:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  } 50% {
      left: 10%;
      top: -30%;
    } 100% {
      top: -10%;
      left: -10%;
    }
  }
@media (max-width: 750px) {
  .social-button {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
  .social-button > i {
    line-height: 50px;
  }
}




/* New style */
* {
  box-sizing: border-box;
}
.flip {
  position: absolute;
  width: 160px;
  height: 48px;
  perspective: 500px;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -80px;
}
.flip a {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.3s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 160px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.4em;
}
.flip a .front {
  background-color: #222;
  color: #fff;
  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: rgba(255,255,255,0);
  color: rgba(34,34,34,0);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip a .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 120%;
  height: 50%;
  background: #222;
  transform: rotate(8deg);
  transition: all 0.5s ease;
  transition-delay: 0.15s;
}
.flip a:hover {
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: #000;
  transition: all 0.8s ease;
}
.flip a:hover .back {
  color: #222;
  transition: color 0.4s linear;
  background: #fff;
}
.flip a:hover .back:after {
  transform: rotate(6deg) translate(100px, -18px);
}